@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:wght@300;400;500;700&family=Teko:wght@300..700&display=swap');

:root {
  /* Colors */
  --text: #000000;
  --background: #FFFFFF;
  --primary: #ffe923;
  --secondary: #D9D9D9;

  /* Fonts */
  --teko: "Teko", sans-serif;
  --roboto: "Roboto", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --oswald: "Oswald", sans-serif;

  /* Spacing */
  --gap: 2.5rem;
  --space: 1.4rem;
}

html {
  font-size: 10px;
}

button {
  font-family: var(--bebas);
  font-size: 2.5rem;
  line-height: 2rem;
}

.container {
  padding: var(--gap)
}

.font-small {
  font-family: var(--teko);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-light {
  font-family: var(--roboto);
  font-weight: 300;
}

.font-regular {
  font-family: var(--roboto);
  font-weight: 400;
}

.font-medium {
  font-family: var(--roboto);
  font-weight: 500;
}

.font-bold {
  font-family: var(--roboto);
  font-weight: 700;
}

.font-title {
  font-family: var(--bebas);
  font-weight: 400;
  font-style: normal;
}

.font-header {
  font-family: var(--oswald);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
