@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:wght@300;400;500;700&family=Teko:wght@300..700&display=swap');

:root {
  /* Colors */
  --text: #000000;
  --background: #FFFFFF;
  --primary: #ffe923;
  --secondary: #D9D9D9;
  --focus: blue;

  /* Fonts */
  --teko: "Teko", sans-serif;
  --roboto: "Roboto", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --oswald: "Oswald", sans-serif;

  /* Spacing */
  --edge: 2.5rem;
  --space: 1.4rem;
  --gap: 1rem;
  --size: 3.5rem;
}

html {
  font-size: 10px;
  font-family: var(--roboto);
}

h2 {
  font-family: var(--oswald);
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  height: calc(4rem - 4px);
}

h3 {
  font-family: var(--oswald);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
}

button {
  font-family: var(--bebas);
  font-size: 2.5rem;
  line-height: 2rem;
}

.form-box {
  display: grid;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap)
}

input[type='text'],
input[type='email'], 
input[type='address'],
textarea {
  border: 1px solid black;
  padding: .7rem;
  font-family: var(--roboto);
  font-size: 1.4rem;
  margin: 1px 0;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--focus);
  margin: 0;
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
}

button {
  background-color: var(--primary);
}

button:disabled {
  background-color: var(--secondary);
  cursor: not-allowed;
}

label {
  font-family: var(--oswald);
  font-size: 1.4rem;
  padding-bottom: 4px;
}

hr {
  border: none;
  border-top: 1px var(--secondary) solid;
  outline: none;
  margin: 0.5rem 0;
}

.container {
  padding: var(--edge)
}

.font-small {
  font-family: var(--teko);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-light {
  font-family: var(--roboto);
  font-weight: 300;
}

.font-regular {
  font-family: var(--roboto);
  font-weight: 400;
}

.font-medium {
  font-family: var(--roboto);
  font-weight: 500;
}

.font-bold {
  font-family: var(--roboto);
  font-weight: 700;
}

.font-title {
  font-family: var(--bebas);
  font-weight: 400;
  font-style: normal;
}

.font-header {
  font-family: var(--oswald);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.small-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: var(--size);
  line-height: var(--size);
  min-width: 8rem;
  background-color: var(--primary);
  border-radius: var(--size);
  font-family: var(--bebas);
  font-weight: 400;
  font-size: 2rem;
}